<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Hibernate Search</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>

</head>
<body>

<form action="/" method="post">
  <div>
    <label for="name">Name:</label>
    <input name="name" id="name"/>
    <label for="address">Address:</label>
    <input name="address" id="address"/>
    <label for="contact">Contact:</label>
    <input name="contact" id="contact"/>
  </div>
  <div>
    <button>Add Client</button>
  </div>
</form>
<br/><br/>

<form action="#" th:action="@{/}" th:object="${search}">
  <label for="search">Enter keyword:</label> <input name="search" id="search"/>
  <button>Search</button>
</form>

<div th:if="${not #lists.isEmpty(search)}">
  <h2>Search Results</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="search : ${search}">
      <td th:text="${search.id}">Text ...</td>
      <td th:text="${search.name}">Text ...</td>
      <td th:text="${search.address}">Text ...</td>
      <td th:text="${search.contact}">Text...</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>